@model IEnumerable<StudentPortal1.Models.Dtos.EmployeeDto>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Designation</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Email ID</th>
            <th>Pincode</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmpId</td>
                <td>@item.EmpName</td>
                <td>@item.Age</td>
                <td>@item.Gender</td>
                <td>@item.Designation</td>
                <td>@item.Country</td>
                <td>@item.State</td>
                <td>@item.City</td>
                <td>@item.EmailId</td>
                <td>@item.Pincode</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmpId" class="btn btn-sm btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmpId" class="btn btn-sm btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmpId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
